body,
html {
  margin: 1px;
  padding: 2px;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #4a7bb5;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 24px;
  margin: 0 10px;
}

.footer {
  background-color: #4a7bb5;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 24px;
}

.columns {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.column {
  background-color: lightgray;
  padding: 20px;
  flex: 1;
  margin: 0 10px;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column1 {
  background-color: #8bc34a;
}
.column2 {
  background-color: #ff9800;
}
.column3 {
  background-color: #ffc107;
}
