.first-row {
  display: inline-block;
  background-color: pink;
  color: white;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size: large;
  height: 30px;
  width: 120px;
  font-size: larger;
}

.second-row,
.fourth-row {
  display: block;
  background-color: purple;
  color: white;
  padding: 20px;
  margin: 30px 30px 30px 20px;
  text-align: left;
  height: 30px;
  font-size: large;
  font-size: larger;
}

.third-row {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size: large;
  height: 30px;
  width: 120px;
  font-size: larger;
}

.fourth-row {
  width: 50%;
}

#third-row-1 {
  height: 60px;
  background-color: violet;
}

#third-row-2 {
  height: 20px;
  background-color: pink;
}

#third-row-3 {
  height: 5px;
  background-color: violet;
}
